body {
  margin: 0;
  font-family: 'URWGeometricMedium', sans-serif;
  src: local('URWGeometricMedium'), url(./fonts/URWGeometricMedium.otf) format('otf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thefont {
  font-family: 'URWGeometricMedium';
}

@font-face {
  font-family: 'URWGeometricMedium';
  src: url(./fonts/URWGeometricMedium.otf) format('otf'),
}

code {
  font-family: 'URWGeometricMedium', sans-serif;
  src: local('URWGeometricMedium'), url(./fonts/URWGeometricMedium.otf) format('otf'),
    monospace;
}
