body {
  margin: 0;
  font-family: 'GothamThin', sans-serif;
  src: local('GothamThin'), url(./fonts/GothamThin.otf) format('otf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thefont {
  font-family: 'GothamThin';
}

@font-face {
  font-family: 'GothamThin';
  src: url(./fonts/GothamThin.otf) format('otf'),
}

code {
  font-family: 'GothamThin', sans-serif;
  src: local('GothamThin'), url(./fonts/GothamThin.otf) format('otf'),
    monospace;
}
